/ChordPrint/bin/*
/ChordPrint/obj/*
/packages/*
/.vs/*
/.vs/ChordPrint/v16/.suo

/.vs/ChordPrint/v16/.suo
/ChordPrintCore/bin/*
/ChordPrintCore/obj/*
/.vs/ChordPrint/v16/.suo
/ChordPrintCore.Package/bin/*
/ChordPrintCore.Package/obj/*

/ChordPrintCore.Tests/obj/*
